@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root {
  /*Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)*/
  --RedErrors: hsl(0, 100%, 66%);
  --White: hsl(0, 0%, 100%);
  --LightGrayishViolet: hsl(270, 3%, 87%);
  --DarkGrayishViolet: hsl(279, 6%, 55%);
  --VeryDarkViolet: hsl(278, 68%, 11%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--White);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 18px;
}
.main-container {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  gap: 350px;
  min-height: 900px;
  width: 100%;
}
.card-container {
  background-image: url('../assets/img/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--White);
  min-height: 900px;
  position: relative;
  width: 33.542%;
}
.front-card, .back-card {
  background-repeat: no-repeat;
  padding: 30px;
  position: absolute;
  height: 245px;
  width: 447px;
}
.front-card {
  background-image: url('../assets/img/bg-card-front.png');
  left: 34%;
  top: 20.5%;
}
.logo-card {
  background-image: url('../assets/img/card-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
  height: 47px;
  margin-bottom: 65px;
}
.content-card h5{
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: 5px;
  width: 100%;
}
.description {
  align-items: center;
  display: flex;
  font-size: 0.9rem;
  justify-content: space-between;
  letter-spacing: 2px;
  margin-top: 30px;
  text-transform: uppercase;
  width: 100%;
}
.back-card {
  background-image: url('../assets/img/bg-card-back.png');
  bottom: 20.5%;
  left: 53%;
}
.cvc {
  font-size: 0.9rem;
  position: absolute;
  letter-spacing: 2px;
  right: 12%;
  top: 45%;
}
.form-container {
  width: 26.6%;
}
.form-data {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.form-data label, .date label {
  color: var(--VeryDarkViolet);
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.input {
  border: 2px solid var(--LightGrayishViolet);
  border-radius: 10px;
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin-bottom: 25px;
  padding: 10px;
  width: 100%;
}
.input:hover {
  cursor: pointer;
  border-color: var(--VeryDarkViolet);
}
.details {
  display: flex;
  gap: 20px;
}
.date, .cvc-input, .date-input input  {
  width: 50%;
}
.date-input {
  display: flex;
  gap: 10px;
}
.btn {
  background-color: var(--VeryDarkViolet);
  border: 1px solid var(--LightGrayishViolet);
  border-radius: 10px;
  color: var(--White);
  font-family: 'Space Grotesk', sans-serif;
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 15px;
}
.btn:hover {
  cursor: pointer;
}
.attribution { 
  font-size: 11px; 
  text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}
/* Mobile Design */
@media screen and (max-width:768px) {
  .main-container {
    flex-direction: column;
    gap: 90px;
    min-height: 704px;
  }
  .card-container {
    background-image: url('../assets/img/bg-main-mobile.png');
    min-height: 240px;
    width: 100%;
  }
  .front-card, .back-card {
    background-size: contain;
    height: 160px;
    padding: 20px;
    width: 285px;
  }
  .front-card {
    top: 52%;
    left: 15px;
  }
  .logo-card {
    height: 30px;
    margin-bottom: 35px;
  }
  .content-card h5 {
    font-size: 1.1rem;
    letter-spacing: 2.5px;
  }
  .description {
    margin-top: 20px;
    font-size: 0.5rem;
  }
  .back-card {
    top: 13%;
    left: 20%;
  }
  .cvc {
    font-size: 0.5rem;
  }
  .form-container {
    width: 90%;
  }
}